<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div>
    <a href="/add_students.html">添加</a>

</div>
<body>
<table border="1">
<thread>
<tr>
    <th>学生id</th>
    <th>姓名</th>
    <th>年龄</th>
    <th>性别</th>
    <th>操作</th>
</tr>

<tbody>

{%  for row in  cls %}
    <tr nid="{{  row.id  }}">
    <td>{{  row.id }}</td>
    <td>{{ row.username }}</td>
    <td>{{  row.age }}</td>
    <td>{{ row.gender }}</td>
    <td>
        <a href="/del_students.html?nid={{ row.id }}">删除</a>
        |
        <a onclick="removeStudent(this);"  href="javascript: void(0);">ajax删除</a>
        <!-- this 指当前元素，javascript: void(0); 代表href链接中为空，也就是该链接没有做任何事情 -->
        |
        <a href="/edit_students.html?nid={{ row.id }}">编辑</a>
    </td>
</tr>
{%  endfor %}
</tbody>
</thread>
</table>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    function  removeStudent(ths){
        var nid= $(ths).parent().parent().attr('nid');
        //获取ths 是a标签，parent 返回被选元素的父元素，这里是td，再找一次父元素，就是tr，且获取到nid的值
        $.ajax({
            url:'/ajax4.html',
            type:'GET',
            data:{nid:nid},
            success:function (arg) {
                // 回调函数，成功就怎么样
                if (arg == '成功') {
                    $(ths).parent().parent().remove();
                    //window.location.reload();  刷新该页面
                } else {
                    alert(arg);
                }
            }
        })
    }

</script>
</body>
</html>